<h1>Create Deal</h1>
<form>
  <div class="form-group">
    <label for="itemInput">Item</label>
    <input class="form-control" id="itemInput" placeholder="Enter item">
  </div>
  <div class="form-group">
    <label for="walmartPriceInput">WalMart Price</label>
    <input class="form-control" id="walmartPriceInput" placeholder="Enter WalMart Price">
  </div>
  <div class="form-group">
    <label for="costcoPriceInput">Costco Price</label>
    <input class="form-control" id="costcoPriceInput" placeholder="Enter Costco Price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
